body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3f3a3a;
}

.container{
    text-align: center;
}

.simple-button{
    background: linear-gradient(45deg, #6200ea,#03dac6);
    color: #000000;
    padding: 12px 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18xp;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.simple-button:hover{
    background: linear-gradient(45deg, #03dac6,#6200ea);
    box-shadow: 0 4px 15px;
    color: #ffffff;
}